doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        include _no_cache
        include _bootstrap_head
        script(src="js/shim.min.js")
        script(src="js/zone.min.js")
        block head
    body
        block body
