doctype html
head
    title Register Login with Authentication
    // Custom Theme files
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    script(src="js/shim.min.js")
    script(src="js/zone.min.js")
    script window.urlPrefix = 'http://' + location.hostname + ':1314/blog/api'
    link(href='css/style.css' rel='stylesheet' type='text/css' media='all')
    link(href='//fonts.googleapis.com/css?family=Jura:400,300,500,600' rel='stylesheet' type='text/css')
body
    blog_app
        script(src="js/main.js", type="text/javascript")
