extends _page

block head
    title Register Login with Authentication
    // Custom Theme files
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    script window.urlPrefix = 'http://' + location.hostname + ':1314/blog/api/'

block body
    blog_app
        script(src="js/main.js", type="text/javascript")